{% extends 'app.html' %}
{% block content %}
<form method="POST" action="" id='frm'>
    <div id="id_removed_rows" style="display:none;"></div>
    <div id="proporatividade" style="display: content">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'home' %}">Início</a></li>
        <li><a href="{% url 'roteiros:criarRoteiro' %}">Meus Roteiros</a></li>
        <li class="is-active"><a href="" aria-current="page">Resumo</a></li>
      </ul>
    </nav>
    <div style="padding: 3rem 2vw 1rem">
             <div style="padding: 3rem 2vw 1rem;">
    
            <div class="steps is-success">
    
                <div class="step-item is-completed is-success">
    
                    <div class="step-marker">
    
                        <span class="icon">
    
                            <i class="mdi mdi-flask mdi-22px"></i>
    
                        </span>
    
                    </div>
    
                    <div class="step-details">
    
                        <p class="step-title">Criar Roteiro</p>
    
                    </div>
    
                </div>
    
                <div class="step-item is-completed is-success">
    
                    <div class="step-marker">
    
                        <span class="icon">
    
                            <i class="mdi mdi-calendar-check mdi-22px"></i>
    
                        </span>
    
                    </div>
    
                    
    
                    <div class="step-details">
    
                        <p class="step-title">Adicionar Roteiro</p>
    
                    </div>
    
                </div>
    
    
    
                <div class="step-item is-completed is-success">
    
                    <div class="step-marker">
    
                        <span class="icon">
    
                            <i class="mdi mdi-check"></i>
    
                        </span>
    
                    </div>
    
                    <div class="step-details">
    
                        <p class="step-title">Concluir</p>
    
                    </div>
    
                </div>
    
            </div>
                <section class="step-content">
                    <div class="step-item">
                        <div style="padding: 1rem 2vw 0px">
                            <hr>
                            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                            Informação de roteiro
                            </h2>
                            <div class="columns">
                            <div class="column">
                            
                                <span>
                                <h3><b>Nome do Roteiro:&nbsp;&nbsp;</b>{{roteiro.nome}}</h3>
                                </span>
                                <span>
                                    <h3><b>Descrição do Roteiro:&nbsp;&nbsp;</b>{{roteiro.descricao}}</h3>
                                </span>
                                <span>
                                    <h3><b>Público-Alvo:&nbsp;&nbsp;</b>{{roteiro.publicoalvo}}</h3>
                                </span>
                            </div>
                            </div>

                            <br>
                            <hr>
                            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                                Atividades Selecionadas
                            </h2>
                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        {% for atividade in atividades %} 
                                            <tr id="atividade.id" draggable="false">
                                                <h3><b>Nome da Atividade:&nbsp;&nbsp;</b>{{atividade.nome}}</h3>
                                                <h3><b>Espaco:&nbsp;&nbsp;</b>{{atividade.espacoid.nome}}</h3>
                                                <h3><b>Edificio:&nbsp;&nbsp;</b>{{atividade.espacoid.edificio.nome}}</h3>
                                                <h3><b>Andar:&nbsp;&nbsp;</b>{{atividade.espacoid.andar}}</h3>
                                            </tr>
                                            {% endfor %} 
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                            <hr>
                            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                                Requisitos do Roteiro
                            </h2>
                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        <h3><b>Maximo de Participantes:&nbsp;&nbsp;</b>{{roteiro.participantesmaximo}}</h3>
                                        <h3><b>Duração Esperada:&nbsp;&nbsp;</b>{{roteiro.duracaoesperada}} (minutos)</h3>
                                    </div>
                                </div>
                            </div>
                            
                            <hr>
                            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem; margin-bottom: 2rem;">Minhas Sessoes</h2>
    
                <div class="table ">
                                <div class="table-wrapper">
                                    <table class="table has-mobile-cards is-hoverable">
                                        <thead>
                                            <tr>
                                                <th  style="width: 300px;">
                                                    <div class="th-wrap">
                                                         Dia
                                                        <span class="icon is-small">
                                                            <i class="mdi mdi-menu-up"></i>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th  style="width: 300px;">
                                                    <div class="th-wrap">
                                                         Horário
                                                        <span class="icon is-small">
                                                            <i class="mdi mdi-menu-up"></i>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th style=""></th>
                                            </tr>
                                        </thead>
                                        <tbody>    
                                            {% for sessao in sessions_activity %} 
                                            <tr id="sessao.id" draggable="false">
                                                <td data-label="Dia">{{sessao.dia}}</td>
                                                <td data-label="Nome">{{sessao.horarioid.inicio}} - {{sessao.horarioid.fim}}</td>
                                            </tr>
                                            {% endfor %} 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </section>
            </div>
            <div class="column is-8 is-offset-2">
              <div class="level">
                <div class="level-left">
                  <button  class="button is-medium is-outlined" name="anterior" value="anterior">
                    <span class="icon is-medium">
                        <i class="mdi fa fa-arrow-left mdi-36px"></i>
                    </span>
                    <span>Anterior</span>
                </button>
                </div>
               
            <div class="level-right">
              <a id="concluir" onclick= "alert.render('Deseja finalizar esta proposta?','{% url 'roteiros:confirmarResumo' roteiro.id %}')" class="button is-medium is-success is-outlined is-link">
             
                <span>Submeter Proposta</span>
                <span class="icon is-medium">
                      <i class="mdi mdi-check mdi-36px"></i>
                    </span>
              </a>
            </div>
              </div>
            </div>
      </div>
    </div>
    {% csrf_token %}
    </form>
    <style>
      .label {
      font-weight: normal;
      }
    .b-steps .steps .step-items .step-item .step-details .step-title {
      font-size: 1rem;
    }
    </style>
    {% endblock content %}
    {% block scripts %}
    
    <script>
        
        
    </script>
    {% endblock scripts %}