{% extends 'app.html' %}
{% block content %}
    {% load l10n %}
    {% load configuracao_tags %}
    {% load django_tables2 %}
    <div class="columns">
        <div class="column is-1"></div>
        <div class="column">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'home' %}">Início</a></li>
                    <li><a href="{% url 'inscricoes:consultar-inscricoes-admin' %}">Incrições</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Consultar Presenças</a></li>
                </ul>
            </nav>
            <h2 class="title is-4">Consulta de presença do grupo {{ inscricao.id }}</h2>
            <h3 class="title is-5">Sessões</h3>
            {% for sessao in inscricaosessoes %}
                <div class="box">
                    <div class="columns">
                        <div class="column is-6">
                            
                                <p><strong>Atividade:</strong> {{ sessao.sessao.atividadeid.nome }}</p>
                            {% if sessao.sessao.roteiroid %}
                                <p><strong>Roteiro:</strong> {{ sessao.sessao.roteiroid.nome }}</p>
                            {% endif %}
                        </div>
                        <div class="column is-6">
                            <p><strong>Horário:</strong> {{ sessao.sessao.horarioid.inicio }} / {{ sessao.sessao.horarioid.fim }}h</p>
                            <p><strong>Participantes esperados:</strong> {{ sessao.nparticipantes }}</p>
                            <p><strong>Participantes presentes:</strong> {{ inscricao.presentes }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}