{% extends 'app.html' %}
{% load static %}

{% block title %}- Estatísticas do Almoço{% endblock title %}

{% block content %}
<div id="tempo-medio">
    <h2 class="title has-text-grey is-uppercase" style="font-size: 2.0rem;">
        Consultar estatísticas de questionários de almoços
    </h2>
    <div class="columns">
        <div class="column">
            <nav aria-label="breadcrumbs" class="breadcrumb">
                <ul>
                    <li><a href="/">Início</a></li>
                    <li class="is-active"><a href="/estatisticas/estatisticas_almocos">Consultar estatísticas de almoços {{selecionado}}</a></li>
                </ul>
            </nav>
            {% if nome_questionario %}
            <h3 class="title is-4" style="color: #7A7A7A; font-size: 1.0rem;">Questionário: <span style="color: black;">{{ nome_questionario }}</span></h3>
            <h3 class="title is-4" style="color: #7A7A7A; font-size: 1.0rem;">Data de Publicação: <span style="color: black;">{{ data_publicacao }}</span></h3>
            <h3 class="title is-4" style="color: #7A7A7A; font-size: 1.0rem;">Data de Expiração: <span style="color: black;">{{ data_expiracao }}</span></h3>
            {% endif %}
            {% if respostas == "True" %}
                <div style="display: flex; align-items: center; margin-bottom: 20px;">
                    <table class="table" style="margin-right: 20px;">
                        <thead>
                            <tr>
                                <th style="background-color: rgb(253, 158, 147); text-align: center; font-size: 1.0rem;">Participantes</th>
                            </tr>
                        </thead>
                        <tbody style="background-color: aliceblue;">
                            <tr>
                                <td style="text-align: center;">{{ participantes }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button id="exportPDF" style="font-size: 18px; padding: 12px 24px; background-color: black; color: white; border: none; border-radius: 8px; cursor: pointer; margin-right: 10px;">Exportar para PDF</button>
                    <a href="{% url 'inscricoes:estatisticas_almocos_csv' %}?diaaberto={{ diaabertoID }}" class="button is-primary" style="margin-right: 10px;">Exportar para CSV</a>
                    <a href="{% url 'inscricoes:estatisticas_almocos_excel' %}?diaaberto={{ diaabertoID }}" class="button is-primary" style="margin-right: 10px;">Exportar para Excel</a>
                </div>
                As informações dos gráficos estão em Porcentagens "%"
                <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
                    {% for grafico in respostas_almocos_escolhas_multiplas %}
                    <div style="flex: 1 0 45%; display: flex; flex-direction: column; align-items: center; margin-bottom: 2rem;">
                        <p style="font-size: 18px; margin-bottom: 1rem;">{{ forloop.counter }}: {{ grafico.pergunta }}</p>
                        <div style="height: 350px; width: 350px;"> <!-- Reduzido de 600px para 350px -->
                            <canvas id="chart{{ grafico.id }}"></canvas>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% elif respostas == "No" %}
                <div style="height: 650px; width: 650px; margin-left: 20%; color: black; font-size: 24px;">Não há questionários para o Dia Aberto {{ ano_diaaberto }}</div>
            {% elif respostas == "False" %}
                <div style="height: 650px; width: 650px; margin-left: 20%; color: black; font-size: 24px;">Nenhum participante respondeu ao Questionário</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
<script>
    var app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#tempo-medio',
        data() {
            return {
                selectedOption: '',
                respostas: [],
            }
        },
        mounted() {
            this.respostas = JSON.parse("{{ respostas_escolhas_multiplas_json|escapejs }}");
            for (let i = 0; i < this.respostas.length; i++) {
                let data = [];
                let labels = [];
                let colors = [];
                this.respostas[i].respostas.forEach(function(objeto) {
                    labels.push(objeto.opcao);
                    data.push(objeto.count);
                });
                for (let m = 0; m < this.respostas[i].respostas.length; m++) {
                    colors.push(this.corAleatoria())
                }
                this.criarGraficodeBarras(i, data, labels, colors);
            }
            document.getElementById('exportPDF').addEventListener('click', this.exportarPDF);
        },
        methods: {
            corAleatoria() {
                // Geração de cores mais claras e vivas
                var r = Math.floor(Math.random() * 128) + 127; // Valores entre 127 e 255 para vermelho
                var g = Math.floor(Math.random() * 128) + 127; // Valores entre 127 e 255 para verde
                var b = Math.floor(Math.random() * 128) + 127; // Valores entre 127 e 255 para azul
                var alpha = 0.7; // Opacidade um pouco mais alta para melhor contraste
                return `rgba(${r}, ${g}, ${b}, ${alpha})`;
            },
            criarGraficodeBarras(id, dados, labels, colors) {
                var name = "chart" + id;
                var ctx = document.getElementById(name).getContext('2d');
                var myChart = new Chart(ctx, {
                    plugins: [ChartDataLabels],
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: "Selecionaram",
                            data: dados,
                            backgroundColor: colors,
                            borderColor: colors.map(color => color.replace('0.2', '1')),
                            borderWidth: 2,
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            datalabels: {
                                color: 'black',
                                anchor: 'end',
                                align: 'start',
                                offset: 8,
                                font: {
                                    weight: 'bold',
                                    size: 25
                                },
                                formatter: (value, ctx) => {
                                    if (value === 0) {
                                        return ''; // Não mostra a etiqueta para valores 0%
                                    }
                                    let sum = ctx.dataset.data.reduce((a, b) => a + b, 0);
                                    let percentage = (value / sum * 100).toFixed(2) + "%";
                                    return percentage;
                                }
                            }
                        },
                        maintainAspectRatio: false
                    }
                });
            },
            
            exportarPDF() {
                var doc = new jspdf.jsPDF({
                    orientation: 'portrait',
                    unit: 'pt',
                    format: 'a4'
                });
            
                var nome_questionario = "Questionário: " + "{{ nome_questionario }}";
                var tema_questionario = "Tema: Almoço";
                var data_publicada = "{{ data_publicacao }}";
                var data_expiracao = "{{ data_expiracao }}";
                var pageWidth = doc.internal.pageSize.getWidth();
                var pageHeight = doc.internal.pageSize.getHeight();
                var margin = 40;
                var y = 140;
            
                doc.setFontSize(12);
                doc.text(nome_questionario, margin, 30);
                doc.text("Data de Publicação: " + data_publicada, margin, 50);
                doc.text("Data de Expiração: " + data_expiracao, margin, 70);
            
                this.respostas.forEach(function(resposta, index) {
                    if (index % 2 === 0 && index !== 0) {
                        doc.addPage();
                        y = 140; // Reinicia a posição y para a parte superior da nova página
                    }
            
                    // Adiciona numeração antes do título da pergunta
                    var title = (index + 1) + ": " + resposta.pergunta;
                    doc.setFontSize(14); // Aumenta o tamanho da fonte para o título da pergunta
                    var titleWidth = doc.getTextWidth(title); // Calcula a largura do texto do título
                    var titleX = (pageWidth - titleWidth) / 2; // Calcula a posição X para centralizar
                    doc.text(title, titleX, y - 20); // Centraliza o título acima do gráfico
            
                    var imgData = document.getElementById('chart' + resposta.id).toDataURL('image/png');
                    var imgHeight = (pageHeight / 2) - margin * 2.5; // Altura do gráfico
                    var imgWidth = imgHeight; // Largura mantida proporcional
            
                    var x = (pageWidth - imgWidth) / 2; // Centraliza o gráfico horizontalmente
                    doc.addImage(imgData, 'PNG', x, y, imgWidth, imgHeight);
            
                    y += imgHeight + 60; // Aumenta o espaço para o próximo gráfico
                });
            
                doc.save('graficos.pdf');
            }
            
            
        },
    });
</script>
{% endblock scripts %}
